*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  background: #F0974A;
}

.form{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: .5rem;
  width: 40%;
  height: 30rem;
  justify-content: center;
  align-items: center;
  margin: .5rem auto; 
}

.combos{
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-template-columns: 4fr 2fr;
  column-gap: 3.5rem;
  grid-row-gap: .5rem;
  height: 10rem;
}

.cant, .comboin{
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
  row-gap: 1rem;
}

.cant input{
  width: 4rem;
  margin-right: .5rem;
}

.adicionalin{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
}

input[type="checkbox"]{
  width: 1rem;

}

.bienvenido{
  text-align: center;
}

.comentarios>h3{
  margin: 1rem;
}

.titulo{
  display: flex;
}

#hCant{
  position: relative;
  left: 15rem;
}
