* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bfd7ea;
}

.bienvenido{
  color: red;
}

h1 {
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: 2fr 2fr;
  row-gap: 1rem;
}

.form {
  display: grid;
  grid-template-rows: repeat(3, 2fr);
  row-gap: 1rem;
  width: 40%;
  height: 37.5rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
}

#datosD {
  display: grid;
  grid-template-rows: repeat(3, 2fr);
  row-gap: 1rem;
  padding: 1rem;
}

#datosC {
  display: grid;
  grid-template-rows: repeat(6, 2fr);
  padding: 1rem;
}

label {
  text-align: center;
  align-items: center;
  justify-content: center;
}

button {
  margin: auto 0.5rem;
  padding: 0.1rem;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 86%;
}

td {
  border: 1px solid black;
  padding: 0.8rem;
}

tr{
  background-color: #ff5a5f;
}

.titulo {
  font-weight: bold;
  font-style: italic;
  font-size: 1.25rem;
  color: blue;
}

.cuerpo {
  font-size: 1.1rem;
}
