* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0974a;
}

.form {
  display: grid;
  grid-template-rows: repeat(3, 2fr);
  row-gap: 1rem;
  width: 40%;
  height: 30rem;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
}

#datosD {
  display: grid;
  grid-template-rows: repeat(3, 2fr);
  row-gap: 1rem;
  padding: 1rem;
}

#datosC {
  display: grid;
  grid-template-rows: repeat(5, 2fr);
  padding: 1rem;
}

label {
  text-align: center;
  align-items: center;
  justify-content: center;
}
